/* Comments in CSSS start and end like this
I need to pick two font families
Choose two or three colors
Give my text and headline different sizes and styles
*/

body {
  background-color: white;
  font-family: sans-serif;
  color: black;
}

img {
  border-radius: 50%;
  border-color: black;
}


a {
  color: red;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
